.services-section {
  width: 100%;
  margin: 0 auto;
  padding: 64px var(--space-24);
  justify-content: center;
}

.services-container {
  max-width: var(--container-desktop-width);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-grid {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
