.faq-container{
    display: flex;
    width: var(--container-desktop-width);
    flex-direction: column;
}

.faq-cards{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.faq-card{
    display: flex;
    width: 100%;
    height: 56px;
    background-color: var(--color-gray-light);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding:0 var(--space-8);
}

.faq-card-title{
    font-weight: normal;
}

.faq-card-icon{
    font-size: 24px;
    align-items: center;
}
