.service-card {
  width: 274px;
  height: 322px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-gray-dark);
  border-radius: 0 10px 0 0;
  padding: 0;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  overflow: hidden;
  transition: 0.3s ease;
}

.service-card:hover {
  transform: scale(1.05)
}
.service-img {
  width: 274px;
  height: 274px;
  background: var(--color-black);
  object-fit: cover;
}

.service-title {
  margin-top: 8px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}
