.address-section{
    width: 100%;
    height: 560px;
    justify-content: center;
    align-items: center;

}

.address-container{
    width: var(--container-desktop-width);
    padding: var(--none) var(--space-24);
}

.address-title{
    text-align: center;
}

.address-info{
    display: flex;
    justify-content: center;
    gap: var(--space-24);
}

.address-text{
    width: 50%;
}

.address-hours{
    width: 50%;
}