.services-section {
  height: 880px;

  align-items: center;
}

.services-title{
  display: flex;
}
.services-container{
  width: 1216px;
}
.services-carousel{
  display: flex;
  width: 100%;
  height: 376px;
  background: blue;
  
  position: relative;
  
  justify-content: center;
  align-items: center;
}

.services-grid {
  display: flex;
  width: 100%;
  background: red;
  
  position: absolute;
  z-index: 2;
  
  flex-direction: row;
  justify-content: center;
  gap: var(--space-24);
}

.services-carousel-arrows{
  display: flex;
  width: 100%;
  background: green;

  position: absolute;
  z-index: 3;

  flex-direction: row;
  align-items: center;
  justify-content:space-between ;

  pointer-events: none;

}

.icon-arrown-services{
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: yellow;

  font-size: 40px;
  color: red;
  
  align-items: center;
  justify-content: center;

  transition: 0.2s ease;
  cursor: pointer;
  pointer-events: auto;
}

.services-info{
  display: flex;
  
}

